* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spoti-text: black;
    --spoti-main: #00b172;
}

.feature-title {
    color: var(--spoti-main);
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.logo img {
    width:80px;
    margin-right: 10px;
}

header nav a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    background: url(landing.jpg) no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.features {
    background-color: #f9f9f9;
    text-align: center;
    padding: 50px 20px;
}

.features h2 {
    font-size: 2em;
    margin-bottom: 30px;
    display: inline-block;
    border-bottom: 3px solid var(--spoti-main);
    padding-bottom: 5px;
}

.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    display: inline-block;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

.feature i {
    font-size: 2em;
    margin-bottom: 20px;
}

.feature img {
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.easy {
    background-color: #1DB954;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.easy h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.easy-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.easy-text {
    width: 50%;
    padding: 20px;
}

.easy-text h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.logospoti {
    width: 20%;
    padding: 20px;
    text-align: center;
}

.logospoti img {
    width: 100px;
    height: auto;
}

.easy-image {
    width: 20%;
    padding: 20px;
}

.easy-image img {
    max-width: 80%;
    border-radius: 10px;
}







































